# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
exclude docs
exclude README.md
include README.rst
include LICENSE
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-exclude tests *
